// ============> Fonts
$font-inter: 'Inter', sans-serif;
$font-open: 'Open Sans', sans-serif;
$font-unna: 'Unna', serif;

// ===========> Colours
$color-green: #436E35;
$color-green-light: #3B823E;
$color-green-dark: #01370C;

$color-yellow-light: #F0EAD2;

$color-gray: #F0F5F0;
$color-gray-dark: #343434;

$color-white: #fff;