.advices {
    background-image: url(../../images/advice_bg.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding: 50.5px 0;

    background-color: #506B52;
    background-blend-mode: color-burn;
}