.header {
    background-color: $color-gray;

    &__container {
        height: 80px;
        @include flex-row(center, space-between, initial);
    }
    &__logo {

        &--img {
            width: 133px;
        }
    }

    &__navigation {
        @include flex-row(center, initial, initial);
        column-gap: 56px;

        &--link {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: $color-gray-dark;
            text-transform: capitalize;

            &-arrow {
                width: 24px;
                height: 24px;
                background-image: url(../../../../images/arrow_icon.svg);
                background-size: cover;
            }
        }
    }

    &__form {

        &--input {

        }
        &--icon {

        }
    }
}