.main {
    padding: 87px 0 58px;
    background-color: $color-gray;

    &__sidebar {
        width: 248px;
    }
    &__products {
        width: 894px;

        @include flex-row(initial, initial, wrap);
        column-gap: 24px;
        row-gap: 22.5px;
    }
}
.load-more--btn-container {
    width: 100%;
    @include flex-row(center, center, initial);
}
.load-more--btn {
    font-size: 18px;
    line-height: 25px;
    text-decoration: underline !important;
    color: $color-gray-dark;
}
.filters {
    background: $color-gray;
    box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
    border-radius: 10px;
    width: 100%;
    padding-left: 24px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__heading {
        text-transform: capitalize;
        font-weight: 400;
        font-family: $font-inter;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.0275em;
        color: $color-gray-dark;
        position: relative;

        &--info {
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.018em;
            color: $color-gray-dark;
            opacity: .6;
            display: block;
        }

        &--arrow-down {
            width: 12px;
            height: 7.5px;
            background-image: url(../../images/arrow_icon.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 32px;
            cursor: pointer;
        }

        &--arrow-right {
            width: 12px;
            height: 7.5px;
            background-image: url(../../images/arrow_icon.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transform: rotate(-90deg);
            cursor: pointer;
            margin-right: 18px;
        }
    }
    &__sub-heading {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: 0.022em;
        color: $color-gray-dark;

        &-wrapper {
            padding-left: 20px;
        }

        &--list {
            padding-left: 40px;
            height: auto;
            margin-top: 10px;
            margin-bottom: 15px;
            transition: all .2s;

            &-items {
                display: block;
                margin-bottom: 16px;
                line-height: 150%;
                letter-spacing: 0.0275em;
                color: $color-gray-dark;
                text-transform: capitalize;
            }

            &.toggle {
                height: 0;
                overflow: hidden;
            }
        }

        &--arrow-down {
            width: 12px;
            height: 7.5px;
            background-image: url(../../images/arrow_icon.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 14px;
            cursor: pointer;
            transition: transform .2s;

            &.toggle {
                transform: rotate(-90deg);
            }
        }
    }

    &__by--cat {
        padding-top: 18px;
        padding-bottom: 18px;
        border: 1px solid #E3E5E6;
    }

    &__by--include  {
        padding-top: 24px;
        padding-bottom: 16px;
    }

    &__by--price {
        padding-top: 11px;
        padding-bottom: 14px;
        border: 1px solid #E3E5E6;
    }
}
.show-more--btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.75px;
    text-transform: capitalize;
    color: $color-gray-dark;
}
.show-more--arrow {
    width: 12px;
    height: 7.5px;
    background-image: url(../../images/arrow_icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 6px;
    cursor: pointer;
}
.form__include {
    margin-top: 8px;

    &--group {
        @include flex-row(center, initial, initial);
        column-gap: 10px;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &-input {
            position: relative;
            width: 16px;
            height: 16px;
            

            &::before {
                content: "";
                width: 16px;
                height: 16px;
                background-color: $color-gray-dark;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 0;
                box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.13);
            }

            &::after {
                content: "";
                width: 14px;
                height: 14px;
                background-color: #fff;
                border: 1px solid #fff;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
            }

            &:checked::after {
                background-color: $color-gray-dark;
            }
            &:checked::before {
                background-color: $color-gray-dark;
            }
        }
        &-label {
            line-height: 150%;
            letter-spacing: 0.022em;
            color: $color-gray-dark;
        }
    }
}