@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.website-wrapper {
  overflow: hidden;
}

a:link,
a:visited {
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main__container {
  max-width: 1230px;
  margin: 0 auto;
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-wrap: initial;
}

.main__card {
  width: 282px;
  height: 369.5px;
  background: #fff;
  box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
  border-radius: 16px;
  padding: 20px;
}
.main__card--img {
  width: 242px;
  height: 175.5px;
  border-radius: 8px;
  margin-bottom: 16px;
}
.main__card--heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #343434;
}
.main__card--price {
  font-size: 20px;
  line-height: 27px;
  color: #343434;
  margin-bottom: 15px;
}
.main__card--btn {
  width: 242px;
  height: 64px;
  background: #3B823E;
  box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: initial;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.discount {
  background-color: #01370C;
}
.discount__container {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
}
.discount__heading {
  line-height: 22px;
  color: #F0EAD2;
  width: 100%;
  text-align: center;
}
.discount__profile {
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-wrap: initial;
  -moz-column-gap: 56px;
       column-gap: 56px;
}
.discount__profile--cart {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.discount__profile--user {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header {
  background-color: #F0F5F0;
}
.header__container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
}
.header__logo--img {
  width: 133px;
}
.header__navigation {
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-wrap: initial;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
.header__navigation--link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-wrap: initial;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.header__navigation .arrow-bottom {
  width: 12px;
  height: 7.5px;
  background-image: url(../../images/arrow_icon.svg);
  background-position: center;
  background-size: cover;
}
.header__form {
  position: relative;
  width: 202px;
  height: 40px;
}
.header__form--input {
  font-weight: 600;
  line-height: 22px;
  color: rgba(52, 52, 52, 0.5);
  width: 100%;
  height: 100%;
  border: 2px solid #343434;
  border-radius: 6px;
  padding: 13px 12px 13px 48px;
}
.header__form--input::-moz-placeholder {
  font-weight: 600;
  line-height: 22px;
  color: rgba(52, 52, 52, 0.5);
}
.header__form--input::placeholder {
  font-weight: 600;
  line-height: 22px;
  color: rgba(52, 52, 52, 0.5);
}
.header__form--icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.hero {
  height: 320px;
  background-image: url(../../images/hero/hero_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: initial;
}
.hero__heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 100px;
  line-height: 136px;
  color: #fff;
}

.main {
  padding: 87px 0 58px;
  background-color: #F0F5F0;
}
.main__sidebar {
  width: 248px;
}
.main__products {
  width: 894px;
  display: flex;
  align-items: initial;
  justify-content: initial;
  flex-wrap: wrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 22.5px;
}

.filters {
  background: #F0F5F0;
  box-shadow: 0px 8px 23px rgba(80, 107, 82, 0.13);
  border-radius: 10px;
  width: 100%;
  padding-left: 24px;
}
.filters:not(:last-child) {
  margin-bottom: 20px;
}
.filters__heading {
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.0275em;
  color: #343434;
}
.filters__by--cat {
  padding-top: 18px;
  padding-bottom: 18px;
}
.filters__by--include {
  padding-top: 24px;
  padding-bottom: 16px;
}
.filters__by--price {
  padding-top: 11px;
  padding-bottom: 14px;
}

.form__include {
  margin-top: 8px;
}
.form__include--group {
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-wrap: initial;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.form__include--group:not(:last-child) {
  margin-bottom: 4px;
}
.form__include--group-input {
  width: 16px;
  height: 16px;
}
.form__include--group-label {
  line-height: 150%;
  letter-spacing: 0.022em;
  color: #343434;
}

.footer {
  background-color: #436E35;
  padding: 40px 0 30px;
}
.footer__container {
  display: flex;
  align-items: initial;
  justify-content: initial;
  flex-wrap: initial;
  -moz-column-gap: 47px;
       column-gap: 47px;
}
.footer__nav {
  display: flex;
  align-items: initial;
  justify-content: initial;
  flex-wrap: initial;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
.footer__nav-col {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  flex-wrap: initial;
  align-content: initial;
}
.footer__nav--logo {
  height: 78px;
  width: 259;
}
.footer__nav-heading {
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  margin-bottom: 16px;
}
.footer__nav-links {
  line-height: 22px;
  color: #fff;
}
.footer__nav-links:not(:last-child) {
  margin-bottom: 8px;
}
.footer__quality-logo {
  width: 179px;
  height: 160px;
}
.footer__quality-logo-img {
  width: 179px;
  height: 160px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  width: 176px;
  height: 140px;
}
.footer__info--desc {
  line-height: 22px;
  color: #fff;
  padding-left: 25px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-wrap: initial;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.footer__social--icon {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #01370C;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: initial;
}
.footer__social--icon .facebook {
  height: 18px;
  width: 9px;
}
.footer__social--icon .twitter {
  height: 18px;
  width: 22px;
}
.footer__social--icon .instagram {
  height: 24px;
  width: 24px;
}

.payment {
  background-color: #01370C;
}
.payment__container {
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: initial;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.payment__desc {
  line-height: 22px;
  color: #fff;
}
.payment__method {
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-wrap: initial;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.payment__method--visa {
  height: 29px;
  width: 44px;
}
.payment__method--mc {
  height: 33px;
  width: 36px;
}
.payment__method--amex {
  height: 33px;
  width: 33px;
}
.payment__method--rupay {
  height: 29px;
  width: 59px;
}/*# sourceMappingURL=main.css.map */